<script setup lang="ts">
import {type Product} from '@/types/Product'
import {type Receiptitem} from '@/types/RecieptItem'
import { ref,nextTick, provide} from 'vue';
import ProductList from '@/components/ProductList.vue';
import {useReceiptStore} from '@/stores/receipt'
import ReceiptDetailTable from '@/views/POS/ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import { VThemeProvider } from 'vuetify/components';
import ReceiptDialog from './ReceiptDialog.vue';
const receiptStore =useReceiptStore()
const dialog =ref(false)
provide('receiptDialog',dialog)
const products1:Product[]=[
    {id:1,name:'ลาเต้ ร้อน',price:35.00,type:1},
    {id:2,name:'ชาไทย เย็น',price:45.00,type:1},
    {id:3,name:'ลาเต้ เย็น',price:40.00,type:1},
    {id:4,name:'ลาเต้ ร้อน',price:25.00,type:1},
    {id:5,name:'ลาเต้ ร้อน',price:35.00,type:1},
    {id:6,name:'ลาเต้ ร้อน',price:55.00,type:1},
    {id:7,name:'ลาเต้ ร้อน',price:65.00,type:1},
    {id:8,name:'ลาเต้ ร้อน',price:55.00,type:1},
    {id:9,name:'ลาเต้ ร้อน',price:50.00,type:1}
]
const products2:Product[]=[
    {id:1,name:'ลาเต้ ร้อน',price:35.00,type:2},
    {id:2,name:'ชาไทย เย็น',price:45.00,type:2}
]
const products3:Product[]=[
    {id:1,name:'ลาเต้ ร้อน',price:35.00,type:3},
    {id:2,name:'ชาไทย เย็น',price:45.00,type:3},
    {id:3,name:'ลาเต้ เย็น',price:40.00,type:3}

]
const selected =(p:Product)=>{
    console.log('ProductView'+p)
    receiptStore.addReceiptitem(p)
    nextTick(() =>{
        if(divReceiptItem.value) divReceiptItem.value.scrollTo(0,divReceiptItem.value.scrollHeight)
    })
  
}
const tab =ref(1)

const divReceiptItem =ref<HTMLElement | null>(null)
const showReceipt =function(){
    receiptStore.showReceiptDialog()
}
</script>

<template>
    <v-container>
        <v-row >
            <v-col cols="12" md="6" >
            <v-container style="padding: 0;">
                <v-row>
                    <v-col cols="12">
                        <div ref="divReceiptItem" style="height=300; overflow: auto;">
                        <v-sheet min-width="300" max-width="600" height='250'  elevation="6">    
                            <ReceiptDetailTable /> 
                        </v-sheet>
                    </div>
                    </v-col>
                    <v-col cols="12">
                        <v-sheet min-width="300" max-width="600" height="60" elevation="6">
                            <MemberCard></MemberCard>
                        </v-sheet>
                    </v-col>
                    <v-col cols="12">
                        <v-sheet min-width="300" max-width="600" height="120" elevation="6">
                            <ReceiptCard></ReceiptCard>
                        </v-sheet>
                    </v-col>
                    <v-col cols="12">
                        <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" >
                                        <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                                    </v-col>
                                    <v-col cols="12" sm="6" >
                                        <v-btn  block rounded="xl" size="large" color="primary" @click="showReceipt">ชำระเงิน</v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-sheet>
                    </v-col>
                </v-row>
            </v-container>
            </v-col>
            <v-col cols="12" md="6" >
                <v-sheet min-width="500" max-width="600" height="600" elevation="6">
                    <v-tabs
                    v-model="tab"
                    color="deep-purple-accent-4"
                    align-tabs="center"
                    >
                    <v-tab :value="1">เครื่องดื่ม</v-tab>
                    <v-tab :value="2">ขนม</v-tab>
                    <v-tab :value="3">น้ำ</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                    <ProductList :products="products1" @selected-product="selected"></ProductList></v-window-item>
                        <v-window-item :value="2">
                    <ProductList :products="products2" @selected-product="selected"></ProductList></v-window-item>
                        <v-window-item :value="3">
                    <ProductList :products="products3" @selected-product="selected"></ProductList></v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>



